# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Distribution / packaging
.Python
# Unit test / coverage reports
.vscode/


# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media
media/

# Requirements
requirements.txt

# Environments
.env
.venv
env/
venv/